*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
html {
  font-size: 62.8%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#main {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  display: grid;
  place-items: center;
  transition: all 1s;
}
.music_container {
  /*35rem=350px*/
  width: 35rem;
  height: 55rem;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 1 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  text-align: center;
}
.music_container #title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  color: black;
  margin: 2rem 0 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_container #artist {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  color: #cccaca;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 300;
}
.imagecontainer {
  /* 1rem=10px */
  width: 25rem;
  height: 25rem;
  margin: auto;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
}
.music_controls .fas {
  color: #111111;
  font-size: 2rem;
  cursor: pointer;
  filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}
.music_controls {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  margin-top: 5rem;
}
.music_controls .main-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #f6f6f6;
  font-size: 1.5rem;
}
.music_controls .fa-play:hover {
  background-color: #f6f6f6;
  color: #111;
  box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}
.anime {
  animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head {
  background-color: #1db954;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}
.search {
  text-align: right;
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
}
.search-icon {
  color: black;
  position: inherit;
  right: 0.1rem;
}
input {
  height: 3rem;
}
.btns {
  position: relative;
  left: 104rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.opt-icons {
  padding: 0.3rem;
}
.opt-icons:hover {
  color: white;
  background-color: black;
}
.playlist {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.sidebyside {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.singer-section-items {
  background-color: rgb(0, 0, 0);
  width: 1500px;
  display: flex;
  overflow-x: scroll;
  align-items: center;
}
.listitem {
  min-width: 30rem;
  height: 32rem;
  border: 2px solid rgb(255, 255, 255);
  padding: 2rem;
  margin: 2rem;
  border-radius: 5rem;
  box-shadow: 0 1rem 2rem 0.2rem rgba(255, 255, 255, 0.4);
}
.singer-intro {
  background-color: rgb(255, 0, 0);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  color: white;
}
.singer-section {
  padding: 0.6rem;
}
.singer {
  color: white;
}
.music_container-mini {
  /*35rem=350px*/
  width: 25rem;
  height: 32rem;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 1 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  text-align: center;
}
/* .list-item-container{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.imagecontainer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  width: 15rem;
  height: 15rem;
  box-shadow: 1 1.2rem 3rem 0.5rem rgba(240, 0, 0, 0.753);
}
#title-list,
#artist-list {
  color: aliceblue;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  padding-bottom: 1rem;
  color: #cccaca;

  font-weight: 300;
}
.music_controls-list {
  color: rgb(255, 255, 255);
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  margin-top: 20rem;
}

.imagecontainer-list {
  margin-left: 10rem;
}
#prev-list,
#play-list,
#next-list {
  position: relative;
  right: 13rem;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
.music-section {
  color: white;
  word-spacing: 0.6rem;
  text-align: center;
}
#main2 {
  position: absolute;
  display: flex;
  /* transition: 1s; */
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
}
#sgin-cont {
  border: 2px solid red;
  width: 90%;
  height: 90%;
  opacity: 0;
  background-color: aliceblue;
}
#closer {
  position: absolute;
  right: 2rem;
  top: 0;
  transition: all 0.1s;
  display: none;
  background-color: #1db954;
  color: rgb(0, 0, 0);
  font-size: 30px;
} /*
#closer:hover{
  transform: rotate(60deg);
  background-color: black;
  color: #1DB954  ;
} */
.h1 {
  transform: translateY(950px);
  color: white;
 /* background-color:#1db954 ; */
 
  animation-name: anime;
  animation-duration: 5s;
  transition: all 2s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0%{
    margin-left: 0%;
    color: brown;
  }
  15%{
    margin-left: 30%;
    color: rgb(255, 0, 0);

  }  
  30%{
    margin-left: 50%;
    color: brown;
  } 
  45%{
    margin-left: 70%;
    color: rgb(255, 0, 0);
  }
  50%{
    margin-left: 75%;
    color: brown;

  }
  55%{
    margin-left: 70%;
    color: brown;

  }
  70%{
    margin-left: 50%;
    color: brown;
  }
  85%{
    margin-left: 30%;
    color: rgb(255, 0, 0);
  }
  100%{
    margin-left: 80%;
    color: rgb(255, 0, 0);
    margin-left: 0%;
  }

}

/* progress style */
.progressbar_container {
  width: 100%;
  height: auto;
  padding: 1rem o;
  margin-top: 1rem;
}
.progress_div {
  width: 100%;
  height: 0.5rem;
  border-radius: 4rem;
  position: relative;
  margin-top: 0.5rem;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.progress {
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  border-radius: 4rem;
  position: relative;

  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.progress_duration_meter {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.list-item-cont{
  background: #1db954;
}
.animated{
  animation-name: hellocolor;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes hellocolor {
  0%{
    background-color: #1db954;
  }
  25%{
    background-color: #18cc57;
  }
  50%{
    background-color: #13e65d;
  }
  75%{
    background-color: #028d33;
  }
  100%{
    background-color: #48ff88;
  }
}